<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <div class="relative flex min-h-screen flex-col content-center overflow-hidden bg-gray-50 py-2 sm:py-12">
        <div class="relative flex flex-col content-center mx-24">
            <div class="relative flex">
                <form class="relative flex flex-row content-center w-full" action="\search_recipes" method="POST">
                    <div class="mr-2 w-80">
                        <input
                            class="flex h-5 ring-1 ring-gray-900/5 rounded-lg p-5 w-full"
                            name="search"
                            type="search"
                            placeholder="Search recipes, keywords, etc."
                        />
                    </div>
                    <button type="submit" class="flex content-end bg-blue-500 hover:bg-blue-400 px-5 py-2 rounded-lg text-white" id="submit_button">
                        Search
                    </button>
                </form>
            </div>
            <% if (recipes) { %>
            <div class="relative flex mt-5 flex-col">
                <table class="relative flex pt-10">
                    <% recipes.forEach((recipe) => { 
                        console.log(recipe.recipe_name);
                        %>
                    <div class="relative flex my-3">
                        <tr class="relative flex">
                            <div class="shadow-sm ring-1 ring-gray-900/5 relative flex flex-row rounded-lg bg-white w-full h-52">
                                <div class="relative flex aspect-square bg-black rounded-l-lg h-full">
                                    <img src="<%= recipe.recipe_img_url %>" alt="https://images.squarespace-cdn.com/content/v1/53b839afe4b07ea978436183/1608506169128-S6KYNEV61LEP5MS1UIH4/traditional-food-around-the-world-Travlinmad.jpg" class="object-cover rounded-l-lg ring-1 ring-gray-900/5" />
                                </div>
                                <div class="relative flex">
                                    <div class="relative flex my-6 mx-7 w-full flex-col justify-center content-center">
                                        <div class="relative flex h-1/4 w-full">
                                            <h1 class="relative flex text-2xl font-bold mb-5"><%= recipe.recipe_name %></h1>
                                        </div>
                                        <div class="relative flex h-3/4 w-full">
                                            <p class="w-full h-full break-words text-ellipsis overflow-hidden relative flex text-sm"><%= recipe.recipe_desc %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </div>
                    <% }) %>
                </table>
            </div>
            <% } %>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>