<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <div class="relative flex min-h-screen flex-col items-center overflow-hidden bg-gray-50 py-6 sm:py-12">
        <% if (recipe) { %>
        <div class="relative flex w-5/6 flex-row">
            <div class="relative flex flex-grow flex-col">
                <h1 class="relative flex text-5xl font-bold"><%= recipe.recipe_name %></h1>
                <div class="flex-grow relative flex w-full flex-row">
                    <div class="relative flex aspect-square w-1/2 my-10 rounded-l-md">
                        <img src="<%= recipe.recipe_img_url %>" alt="https://images.squarespace-cdn.com/content/v1/53b839afe4b07ea978436183/1608506169128-S6KYNEV61LEP5MS1UIH4/traditional-food-around-the-world-Travlinmad.jpg" class="relative flex object-cover rounded-l-md"/>
                    </div>
                    <div class="relative flex w-1/2 flex-row my-10 aspect-sqaure" >
                        <div class="relative w-full flex rounded-r-md aspect-square flex-shrink flex-row justify-between bg-opacity-20 bg-emerald-200 ">
                            <div class="m-5 relative flex aspect-square w-fit flex-col">
                                <h1 class="text-2xl font-semibold">Ingredients</h1>
                                <div class="mx-5 my-3 relative flex">
                                    <ul class="list-disc">
                                        <% if (ingredients) {
                                            ingredients.forEach((ingredient) => {
                                        %>
                                        <li class=""><%= ingredient.quantity + ' ' + ingredient.unit_name + (ingredient.quantity > 1 && ingredient.unit_name != '' ? 's' : '') + ' ' + ingredient.ingredient_name + ' ' + ingredient.price + ' ' + ingredient.size %></li>
                                        <% });
                                        } %>
                                    </ul>
                                </div>
                            </div>
                            <div class="relative flex w-1/3 h-full bg-opacity-20 bg-emerald-500 bg- rounded-r-lg">
                                <h1 class="m-5 text-xl font-semibold overflow-hidden"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="relative flex flex-col w-5/6 justify-start">
            <h1 class="text-2xl font-semibold">Description</h1>
            <p class=""> 
                <%= recipe.recipe_desc %>
            </p>
        </div> 
        <form action="/cart/add" method="POST">    
            <button type='submit' name="recipe_id" value="<%= recipe.recipe_id %>" class=" flex-row justify-center items-center w-40 bg-blue-500 hover:bg-blue-400 px-3 py-2 rounded-lg text-white">Add to Cart</button>

        </form>
        <% } %>
    </div>
</main>

<%- include ('../partials/footer') %>